@font-face {
  font-family: BYekan;
  src: url("/assets/fonts/BYekan/Yekan.woff") format("woff");
}
@font-face {
  font-family: BShekari;
  src: url("/assets/fonts/BShekari.ttf");
}
@font-face {
  font-family: Shabnam;
  src: url("/assets/fonts/shabnam/Shabnam.ttf");
}
@font-face {
  font-family: IranSans;
  src: url("/assets/fonts/sans/IRANSansWeb(FaNum).ttf");
}
@font-face {
  font-family: Vazir;
  src: url("/assets/fonts/vazir/Vazirmatn-Light.ttf");
}
.hamburger-menu .menu {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2C2B27;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FEB42D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FEB42D;
}

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;
}
.hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.5s;
}
.hamburger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #d3ab55;
  transition: all 0.5s 0.5s;
  transform-origin: right;
}

.navbar {
  position: relative;
  z-index: 200;
}
.navbar-navigation {
  display: flex;
}
.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background-color: #262626;
  position: fixed;
  right: -50vw;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}
.navbar-navigation-right .right-img {
  width: 50%;
  position: absolute;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  opacity: 0.7;
  border-radius: 10px;
}
.navbar-navigation-right .right-img-1 {
  top: 15%;
  right: 15%;
}
.navbar-navigation-right .right-img-2 {
  top: 35%;
  right: 25%;
}
.navbar-navigation-right .right-img-3 {
  top: 55%;
  right: 35%;
}
.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background-color: #1f1d1d;
  position: fixed;
  left: -50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}
.navbar-navigation .nav-list-item {
  list-style: none;
}
.navbar-navigation .nav-list-link {
  font-family: tahoma;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #bbb;
  text-decoration: none;
  display: block;
  margin: 25px;
  text-align: center;
  transition: all 0.3s;
}
.navbar-navigation .nav-list-link:hover {
  color: #ACEE00;
  letter-spacing: 4px;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
  top: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
  top: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
}

body {
  background-color: #211B49;
}

.left-side {
  background-color: #211B49;
}
.left-side-logo {
  margin: 35px 0 0 0;
  display: flex;
  align-items: center;
}
.left-side-logo .title {
  color: #F1F1F1;
  font-size: 1.8rem;
}
.left-side-logo .title span {
  font-weight: bold;
  color: #DCDCDC;
}/*# sourceMappingURL=IntroPage.css.map */