@import '../../../../Component/MainScss/base';
@import '../../../../Component/MainScss/components';
@import '../../../../Component/MainScss/layout';

body {
    background-color: $color-main;
}

// Start Left Side
.left-side {
    background-color: $color-main;

    &-logo {
        margin: 35px 0 0 0;
        display: flex;
        align-items: center;

        .title {
            color: $color-white-light;
            font-size: 1.8rem;

            span {
                font-weight: bold;
                color: $color-white-light-2;
            }
        }
    }

    &-form{

    }
}
// End Left Side